body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5fe;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
nav a {
        color: rgb(247, 243, 243);
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
    }
